<div class="container-fluid">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="Home/landing-home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Administrator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vaccinator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Verify Certificate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Open API's</a>
          </li>
          <li class="nav-item" class="space">
            <a class="nav-link" href="#">Skip To Main Content</a>
          </li>
          <li>
            <button type="button" class="btn btn-outline-info m-2">A+</button>
          </li>
          <li>
            <button type="button" class="btn btn-outline-info m-2">A</button>
          </li>
          <li>
            <button type="button" class="btn btn-outline-info m-2">A-</button>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">English</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">English</a></li>
              <li><a class="dropdown-item" href="#">Hindi</a></li>
              <li><a class="dropdown-item" href="#">Marathi</a></li>
              <li><a class="dropdown-item" href="#">Malayam</a></li>
              <li><a class="dropdown-item" href="#">Panjabi</a></li>
              <li><a class="dropdown-item" href="#">Telagu</a></li>
              <li><a class="dropdown-item" href="#">Gujarati</a></li>
              <li><a class="dropdown-item" href="#">Assamese</a></li>
              <li><a class="dropdown-item" href="#">Bengali</a></li>
              <li><a class="dropdown-item" href="#">Kannada</a></li>
              <li><a class="dropdown-item" href="#">Odia</a></li>
              <li><a class="dropdown-item" href="#">Tamil</a></li>
            </ul>
          </li>
        </ul>
        </div>
      
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../../../assets/new-logo.svg" alt="" > 
              </a>
            </div>
            <li class="nav-item dropdown m-4 ">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Vaccination Services</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Register Members</a></li>
                  <li><a class="dropdown-item" href="#">Search Vaccination Centers</a></li>
                  <li><a class="dropdown-item" href="#">Book Vaccinaton slot</a></li>
                  <li><a class="dropdown-item" href="#">Manage Appointment</a></li>
                  <li><a class="dropdown-item" href="#">Download Certificate</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Platforms</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">CoWIN International</a></li>
                  <li><a class="dropdown-item" href="#">Vaccinator</a></li>
                  <li><a class="dropdown-item" href="#">Department Login</a></li>
                  <li><a class="dropdown-item" href="#">Verify Certificate</a></li>
                  <li><a class="dropdown-item" href="#">Vaccination Statistics</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">RESOURCES</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">How to get Vaccinated</a></li>
                  <li><a class="dropdown-item" href="#">Dos and Dont's</a></li>
                  <li><a class="dropdown-item" href="#">Overview</a></li>
                  <li><a class="dropdown-item" href="#">API Guidelines</a></li>
                  <li><a class="dropdown-item" href="#">Grievance Guidelines</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">SUPPORT</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Frequently Asked Questions</a></li>
                  <li><a class="dropdown-item" href="#">Certificate Correction</a></li>
                </ul>
              </li>
              <li> <a class="yellowloginbutton"routerLink="Register/register-signin">Register/SignIn</a></li>
          </nav>    
          
