<br><br><br>

<div class="container-fluid">

    <div class="row">
       
      <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
          <div class="col">
            <div class="p-3 border bg-light">Registeration Today<br>12222530</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Vaccination Today<br>5521526.022</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Partially Vaccinated Today<br>12200
             </div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Fully Vaccinated Today<br>120002</div>
          </div>
          
          <div class="container">
            <div class="row">
              <div class="col-4">
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                  <div class="col-md-4">
                    <form>
                      <form>
                        <select (change)="onStateSelect($event)" name="STATE"  [(ngModel)]="selectedState" class="form-select">
                            <!-- <option *ngIf="StateName">Select State</option> -->
                            <option *ngFor="let data of UserState" [ngValue]="data.state_id">{{data.state_name}}</option>
                        </select>
                    </form>
    
                      
                      
                      
                      
                      <select class="form-select">
                            <option *ngFor="let dt of userDistrict" >{{dt.district_name}}</option>
                        </select>
                    </form>
                </div>
    
            


</div>

            
            </div>
            </div>
        
            
                </div>
          </div>
          

         
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>

        

        
        

        <br>
        <br>
        <br>
    </div>

</div>
<!-- </div>
             -->
            
